body{
background-color:#ffc14d
}
*{
border-sizing:border-box;
}
.col-lg{
margin-top:30px;
}
 i{
font-size:3rem;
margin:20px
}
.btn{
cursor:pointer;
}
.btn:hover{
color:blue
}
p{
font-weight:bold
}
@media screen(min-width:768px){
p{
font-size:5rem;
font-weight:bold;
}
col-lg{
margin-top:20px;
}
section{
width:100%
}
}
